html {
  scroll-behavior: smooth;
}

body {
  background: #ff8686;
  background: -webkit-gradient(linear, left top, right top, from(#ff8686), color-stop(51%, #fffb94), to(#7ae9ff));
  background: linear-gradient(90deg, #ff8686 0%, #fffb94 51%, #7ae9ff 100%);
}

body #arrow {
  position: fixed;
  bottom: 40px;
  font-size: 10rem;
  right: 40px;
  z-index: 1;
}

body #arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

nav #logo {
  width: 7rem;
  height: 7rem;
  margin-left: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  list-style-type: none;
  margin-top: 1.8rem;
}

nav ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav ul a {
  text-decoration: none;
  color: black;
  margin-right: 1.2rem;
  font-size: 1.3rem;
}

.front {
  text-align: center;
  margin: auto;
  margin-bottom: 10rem;
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5))), url("images/front.jpg") center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("images/front.jpg") center no-repeat;
  width: 80%;
}

.front .words {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.front .words h1 {
  font-size: 4rem;
  padding-top: 3rem;
  display: inline;
  padding-right: 15px;
}

.front .words #first {
  -webkit-animation: test 4s;
          animation: test 4s;
  position: relative;
}

.front .words #second {
  -webkit-animation: test 5s;
          animation: test 5s;
  position: relative;
}

.front .words #third {
  -webkit-animation: test 6s;
          animation: test 6s;
  position: relative;
}

@-webkit-keyframes test {
  0% {
    color: #ff8686;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    color: #fffb94;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    color: #7ae9ff;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes test {
  0% {
    color: #ff8686;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    color: #fffb94;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    color: #7ae9ff;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.front .words h3 {
  font-size: 2.5rem;
}

.front .words h1, .front .words h3 {
  color: white;
  padding-top: 2rem;
}

.front .words button {
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  border: white 1px solid;
  outline: none;
}

.front .words button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.front .words button:active {
  outline: white 1px solid;
}

#products {
  height: 80vh;
  position: relative;
}

#products .translateCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

#products .translateCards .red {
  border: black solid 1px;
  width: 25%;
  border-radius: 5px;
  background: url(images/red.jpg) no-repeat;
  background-position: -300px -75px;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#products .translateCards .red .card-footer {
  width: 100%;
  text-align: center;
}

#products .translateCards .red .card-footer button {
  cursor: pointer;
  margin-bottom: 1rem;
  width: 80%;
  padding: 0.4rem 0;
}

#products .translateCards .red .card-footer button:hover {
  background-color: red;
  color: white;
}

#products .translateCards .green {
  border: black solid 1px;
  width: 25%;
  border-radius: 5px;
  background: url(images/green.jpg) no-repeat;
  background-position: -250px -50px;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#products .translateCards .green .card-footer {
  width: 100%;
  text-align: center;
}

#products .translateCards .green .card-footer button {
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  padding: 0.4rem 0;
}

#products .translateCards .green .card-footer button:hover {
  background-color: green;
  color: white;
}

#products .translateCards .blue {
  border: black solid 1px;
  width: 25%;
  border-radius: 5px;
  background: url(images/blue.jpg) no-repeat;
  background-position: -350px -50px;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#products .translateCards .blue .card-footer {
  width: 100%;
  text-align: center;
}

#products .translateCards .blue .card-footer button {
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  padding: 0.4rem 0;
}

#products .translateCards .blue .card-footer button:hover {
  background-color: blue;
  color: white;
}

.newsletter {
  margin-top: 10rem;
  min-height: 50vh;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 15rem;
  width: 100%;
}

.newsletter h1 {
  color: #333;
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
}

.newsletter #underline {
  width: 20%;
  background-color: #333;
  height: 5px;
  margin: -25px auto;
}

.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 4rem;
  width: 25%;
}

.newsletter form input {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
  border: none;
}

.newsletter form input:focus {
  border: none;
  outline: none;
}

#contactUs {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100vh;
  position: relative;
  margin-top: 5rem;
}

#contactUs .translate {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

#contactUs .translate h1 {
  font-size: 3rem;
  color: #333;
  text-align: center;
  padding-top: 1rem;
}

#contactUs .translate #underline {
  width: 9%;
  background-color: #333;
  height: 5px;
  margin: -30px auto;
}

#contactUs .translate .contactForm {
  margin-top: 5rem;
}

#contactUs .translate .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

#contactUs .translate .contactForm form input {
  height: 1.4rem;
}

#contactUs .translate .contactForm form input, #contactUs .translate .contactForm form textarea {
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
}
/*# sourceMappingURL=style.css.map */