// Vertical alignment
// 
// 
// 
//

$relative: relative;
$cursor: pointer;
$none: none;
$center: center;

@mixin absoluteMiddle {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}



@mixin cardBtn {
    cursor: pointer;
    margin-bottom: 1rem;
    width: 80%;
    padding: 0.4rem 0;
    background-color: rgba(0, 0, 0, 0.7);
    border: $none;
    outline: $none;
    color: white;
    border-radius: 5px;
}

@mixin partOfCard {
    border: black solid 1px;
    width: 25%;
    border-radius: 5px;
    height: 25rem;          
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


// HTML and Body css (including the arrow icon)
// 
// 
// 
// 

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(255,134,134);
    background: linear-gradient(90deg, rgba(255,134,134,1) 0%, rgba(255,251,148,1) 51%, rgba(122,233,255,1) 100%);
    background-repeat: no-repeat;
    
    #arrow {
        position: fixed;
        bottom: 40px;
        font-size: 10rem;
        right: 40px;
        z-index: 1;
        
    }
    
    #arrow:hover {
        transform: scale(1.1);
    }
}








// Navbar css
// 
// 
// 
// 

nav { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;

    #logo {
        width: 7rem;
        height: 7rem;
        margin-left: 1rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li {
            list-style-type: $none;
            margin-top: 1.8rem;

        }

        li:hover {
            transform: scale(1.1);
        }

        a {
            text-decoration: $none;
            color: black;
            margin-right: 1.2rem;
            font-size: 1.3rem;
        }


    }

}






// Image css
// 
// 
// 

.front {
    text-align: $center;
    margin: auto;
    margin-bottom: 10rem;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('images/front.jpg') $center no-repeat;
    width: 80%;


    .words {
        @include absoluteMiddle;
        

    h1 {
        font-size: 4rem;
        padding-top: 3rem;
        display: inline;
        padding-right: 15px;
    }

    #first {
        animation: test 3.5s;
        position: $relative;
    }


    #second {
        animation: test 4.5s;
        position: $relative;
    }


    #third {
        animation: test 5.5s;
        position: $relative;
    }



    @keyframes test {
     0% {
         color: rgba(255,134,134,1); 
         transform: scale(1.1);
        }

     25% {
         color: rgba(255,251,148,1); 
         transform: scale(2.0)
        }

     50% {
         color: rgba(122,233,255,1); 
         transform: scale(1.5);
        }

     100% {
         color: white; 
         transform: scale(1)
        }
    }

    h3 {
        font-size: 2.5rem;
    }

    h1, h3 {
        color: rgb(255, 255, 255);
        padding-top: 2rem;
    }

    button {
        font-size: 1.2rem;
        border-radius: 5px;
        cursor: $cursor;
        background-color: rgba(255, 255, 255, 0.8);
        border: $none;
        outline: $none;
        color: #333;
    }

    button:hover {
        transform: scale(1.1);
    }

    button:active {
        outline: white 1px solid;
    }
}
}











// Cards css
// 
// 
// 
// 

#products {


    height: 80vh;
    position: $relative;

    .translateCards {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        @include absoluteMiddle;
        width: 100%;



     // red card
     //  
     .red {
        @include partOfCard;
        background: url(images/red.jpg) no-repeat;
        background-position: -300px -75px;
        
        .card-footer {
            width: 100%;
            text-align: $center;

            button {
                @include cardBtn;
            }

            button:hover {
                background-color: red;
                color: white;
             }
        }


    }





     // green card
     //  
     .green {
        @include partOfCard;
        background: url(images/green.jpg) no-repeat;
        background-position: -250px -50px;
     
        .card-footer {
            width: 100%;
            text-align: $center;

            button {
                @include cardBtn;
            }

            button:hover {
                background-color: green;
                color: white;
             }
        }


    }




    // Blue card
    // 
    .blue {
        @include partOfCard;
        background: url(images/blue.jpg) no-repeat;
        background-position: -350px -50px;

        .card-footer {
            width: 100%;
            text-align: $center;

            button {
                @include cardBtn;
            }

            button:hover {
                background-color: blue;
                color: white;
             }
        }


    }
}

}






// Newsletter
// 
// 
// 
// 

.newsletter {
    margin-top: 10rem;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 15rem;
    width: 100%;

    h1 {
        color: #333;
        font-size: 3rem;
        text-align: $center;
        padding-top: 2rem;
    }

    #underline {
        width: 20%;
        background-color: #333;
        height: 5px;
        margin: -25px auto;
    }


    form { 
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 4rem;
        width: 25%;


        input {
            text-align: $center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            height: 2rem;
            border: $none;
        }

        input:focus {
            border: $none;
            outline: $none;
        }

    }


}





// Contact Us 
// 
// 
// 
// 

#contactUs {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100vh;
    position: $relative;
    margin-top: 5rem;

    .translate {
        @include absoluteMiddle;
        width: 80%;
    


    h1 {
        font-size: 3rem; 
        color: #333;
        text-align: $center;
        padding-top: 1rem;
    }

    #underline {
        width: 9%;
        background-color: #333;
        height: 5px;
        margin: -30px auto;
    }

    .contactForm {
        margin-top: 5rem;
        
        form {
        display: flex;  
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

            input {
                height: 1.4rem;
            }
        
            input, textarea {
                margin-top: 1rem;
                border-radius: 5px;
                border: $none;


            }    
         }

    }
}
    

}



@media (max-width: 700px) {

    .front {
        .words {
    
            #first, #second, #third {
                font-size: 3rem;
            }
    
            h3 {
                font-size: 1.8rem;
            }
            
        }

    }


    #products {
        .translateCards{
            
            .red, .green, .blue {
                height: 18rem;
            }
        }
    }

    #newsletterForm {
        input {
            font-size: 0.65rem;
            padding: 5px;
        }
    }

}


@media (max-width: 400px) {
    nav {
        display: inline-block;
    }
}